@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  font-size: 16px;
  font-family:
    Microsoft YaHei,
    Arial,
    sans-serif;
  @apply bg-gradient-to-b from-primary/15 via-background to-success-100/20;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  height: 100%;
}

/* 代码进度条字体 */
.loading-text {
  font-family:
    JetBrains Mono,
    sans-serif;
}

.main-container {
  box-shadow: inset 0 3px 4px #0000001a;
}

@layer utilities {
  /* 光标动画 */
  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}

/* 控制代码块儿行号的宽度 */
.linenumber.react-syntax-highlighter-line-number {
  min-width: 3.25rem !important;
}

/* react-markdown扩展语法 */
.alert {
  @apply relative px-2 md:px-4 py-1 rounded-lg mb-4
}
.alert p {
  @apply my-2 md:my-4;
}

.alert-danger,
.alert-warning,
.alert-info,
.alert-success {
  @apply border-l-4;
}

.alert-danger {
  @apply bg-danger/10 border-l-danger text-danger;
}

.alert-warning {
  @apply bg-warning/10 border-l-warning text-warning;
}

.alert-info {
  @apply bg-primary/10 border-l-primary text-primary;
}

.alert-success {
  @apply bg-success/10 border-l-success text-success;
}

/* 为不同类型添加伪元素文字 */
.alert-danger::before,
.alert-warning::before,
.alert-info::before,
.alert-success::before {
  @apply block font-bold mt-2 text-xl;
}
.alert-danger::before {
  content: "警告";
  @apply text-danger; 
}

.alert-warning::before {
  content: "注意";
  @apply text-warning;
}

.alert-info::before {
  content: "提示";
  @apply text-primary;
}

.alert-success::before {
  content: "成功";
  @apply text-success;
}